[submodule "backend"]
	path = conduit-backend
	url = https://github.com/ibog1/conduit-backend
	branch = feature/docker-backend

[submodule "frontend"]
	path = conduit-frontend
	url = https://github.com/ibog1/conduit-frontend
	branch = feature/docker-frontend #new

