[submodule "backend"]
	path = backend
	url = https://github.com/ibog1/conduit-backend
	branch = feature/docker-backend

[submodule "frontend"]
	path = frontend
	url = https://github.com/ibog1/conduit-frontend  
	branch = feature/docker-frontend
