services:
  db:
    image: postgres:14      
    env_file:
      - .env                
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: on-failure     

  backend:
    build: ./conduit-backend        
    restart: on-failure
    env_file:
      - .env
    ports:
      - "8000:5000"
    depends_on:           
      - db  
    logging:                
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  frontend:
    build: ./conduit-frontend       
    ports:
      - "8282:80"
    restart: on-failure
    env_file:
      - .env
    extra_hosts:        
      - "localhost:host-gateway"
    depends_on:         
      - backend

volumes:
  postgres_data:
