services:
  db:
    image: postgres:14      
    env_file:
      - .env                
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: on-failure     

  backend:
    build: ./backend        
    restart: on-failure:5   
    env_file:
      - .env
    ports:
      - "8000:8000"         
    depends_on:
      - db
    logging:                
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  frontend:
    build: ./frontend       
    ports:
      - "8282:80"
    restart: on-failure
    env_file:
      - .env

volumes:
  postgres_data:
